<script type="text/javascript" src="../js/header.js"></script>
<div id="main_menu_box">
    <div class="inner">
        <span class="mobileBtn device-mobile">
            <i> </i>
            <i></i>
            <i></i>
        </span>
    </div>
    <ul class="mainMenu">
        <li class="left"><a href="/naeungsic/index.html">HOME</a></li>
        <li class="right"><a href="/naeungsic/sub/living.html">LIVING ROOM</a></li>
        <li class="left"><a href="/naeungsic/sub/play.html">PLAY ROOM</a></li>
        <li class="right"><a href="/naeungsic/sub/bed.html">BED ROOM</a></li>
        <li class="left"><a href="/naeungsic/sub/playground.html">CAT PLAYGROUND</a></li>
        <li class="right"><a href="/naeungsic/sub/bath.html">BATH ROOM</a></li>
        <li class="left"><a href="/naeungsic/sub/house.html">CAT HOUSE</a></li>
    </ul>
</div>